/* @import url('https://fonts.google.com/specimen/Lexend+Deca')
@import url('https://fonts.google.com/specimen/Big+Shoulders+Display') */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.items {
  background-color: hsl(0, 0%, 95%);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item {
  background-color: hsl(31, 77%, 52%);
  min-height: 25rem;
  max-width: 17rem;
  padding: 2.5rem;
  position: relative;
}
image {
  margin-bottom: 1.5rem;
}

h1 {
  color: hsl(0, 0%, 100%, 0.75);
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 15px;
}
p {
  color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}

button {
  position: absolute;

  border: 2px solid hsl(0, 0%, 95%);
  text-align: center;
  padding: 12px 18px;
  bottom: 0;
  margin-bottom: 2rem;
  border-radius: 30px;
  color: hsl(31, 77%, 52%);
  cursor: pointer;
  /* font-family:'Lexend Deca', sans-serif;  */
}
.first {
  background-color: hsl(31, 77%, 52%);
}
.second {
  background-color: hsl(184, 100%, 22%);
}
.third {
  background-color: hsl(179, 100%, 13%);
}
.first button {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}
.second button {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}
.third button {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}
buton:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}
@media (max-width: 1440px) {
  .items {
    flex-direction: row;
    padding: 5rem 0;
  }
  .item {
    min-width: 22rem;
  }
}
